<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}GrooveCrowd{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/css/bootstrap.css') }}" />
            <style type="text/css">
              body {
                /*padding-top: 60px;*/
                /*padding-bottom: 40px;*/
              }
            </style>
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/css/responsive.css') }}" />
         {% endblock %}
        <!-- Le styles -->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{{ asset('//html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}">
        <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-114x114.png') }}">
    {% endblock %}  

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">GrooveCrowd</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% block navlist %}
                            <li class="{% if app.request.attributes.get('_route') == '_welcome' %}active{% endif %}"><a href="{{path ('_welcome')}}">Home</a></li>
                            <li class="{% if app.request.attributes.get('_route') == 'project_browse' %}active{% endif %}"><a href="#about">Browse Contests</a></li>
                            {% if is_granted('ROLE_USER') %}
                            <li class="{% if app.request.attributes.get('_route') == 'dashboard_index' %}active{% endif %}"><a href="{{path ('dashboard_index')}}">My Contests</a></li>
                            {% else %}
                            <li class="{% if app.request.attributes.get('_route') == '_welcome_how' %}active{% endif %}"><a href="#contact">How does it work?</a></li>
                            {% endif %}
                            <li class="divider-vertical"></li>
                            <li class="{% if app.request.attributes.get('_route') == 'project_new' %}active{% endif %}"><a href="{{ path("project_new") }}">Launch a contest</a></li>
                        {% endblock %}                        
                    </ul>
                    <ul class="nav pull-right">                        
                        {% if is_granted('ROLE_USER') %}
                            {% block navwidgets %}
                                <li class="divider-vertical"></li>
                                <li class="user-image"><img src="{{ asset(user_image_path ~ app.user.image) }}" width=30 height=30 /></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        {% if app.user.username %}
                                            {{app.user.username}}<b class="caret"></b>
                                        {% else %}
                                            {{app.user.firstName}} {{app.user.lastName|slice(0, 1)}}.<b class="caret"></b>
                                        {% endif %}
                                    </a>
                                    <ul class="dropdown-menu">
                                      <li class=""><a href="#"><i class="icon-user"></i>Profile</a></li>
                                      <li class=""><a href="#"><i class="icon-question-sign"></i>Help</a></li>
                                      <li class=""><a href="{{url('fos_user_security_logout')}}"><i class="icon-eject"></i>Logout</a></li>
                                    </ul>       
                                </li>
                            {% endblock %}
                        {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>                        
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div> <!-- /container -->
   <footer>
        {% block footer %}
            <div class="container">
                <div class="row">
                    <div class="offset2 span9">
                        <ul class="unstyled span3">
                            {% block footer1 %}
                                <li><h4>Learn more about us</h4></li>
                                <li><a>In the press</a></li>
                                <li><a>Careers</a></li>
                            {% endblock %}
                        </ul>
                        <ul class="unstyled span3">
                            {% block footer2 %}
                                <li><h4>Make money with us</h4></li>
                                <li><a>App Music Contests</a></li>                       
                                <li><a>Audio FX Contests</a></li>
                                <li><a>Voiceover Contests</a></li>                        
                                <li><a>Jingle Contests</a></li>                        
                            {% endblock %}                            
                        </ul>                    
                        <ul class="unstyled span3">
                            {% block footer3 %}
                                <li><h4>Let us help you</h4></li>                        
                                <li><a>Contact Us</a></li>
                                <li><a>FAQ</a></li>                        
                                <li><a>Help</a></li>
                            {% endblock %}
                        </ul>               
                    </div>
                </div>
            <div class="row center">
                <div class="span11 center">
                <p>
                    &copy; GrooveCrowd 2012 |
                    <a>Privacy Policy</a> |
                    <a>Terms & Agreement</a>
                </p>                    
            </div>
            </div>                  
            </div>          

        {% endblock %}                
    </footer>
    {% block javascripts %}
            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-transition.js') }}"></script>
            <script src="{{ asset('js/bootstrap-alert.js') }}"></script>
            <script src="{{ asset('js/bootstrap-modal.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('js/bootstrap-scrollspy.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tab.js') }}"></script>
            <script src="{{ asset('js/bootstrap-tooltip.js') }}"></script>
            <script src="{{ asset('js/bootstrap-popover.js') }}"></script>
            <script src="{{ asset('js/bootstrap-button.js') }}"></script>
            <script src="{{ asset('js/bootstrap-collapse.js') }}"></script>
            <script src="{{ asset('js/bootstrap-carousel.js') }}"></script>
            <script src="{{ asset('js/bootstrap-typeahead.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}

</body>
</html>