<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}GrooveCrowd{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/css/bootstrap.css') }}" />
            <style type="text/css">
              body {
                /*padding-top: 60px;*/
                /*padding-bottom: 40px;*/
              }
            </style>
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/css/responsive.css') }}" />
         {% endblock %}
        <!-- Le styles -->

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{{ asset('//html5shim.googlecode.com/svn/trunk/html5.js') }}"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/images/apple-touch-icon-114x114.png">
    {% endblock %}  

</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">GrooveCrowd</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        {% block navlist %}
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">Browse Contests</a></li>
                            <li><a href="#contact">What is this?</a></li>
                        {% endblock %}                        
                    </ul>
                    <ul class="nav pull-right">
                        {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>                        
                        {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>                        
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        {% block body %}
        {% endblock %}
    </div> <!-- /container -->
   <footer>
        {% block footer %}
            <div class="container">
                <div class="row offset2">
                    <div class="span3">
                        <ul class="unstyled">
                            {% block footer1 %}
                                <li><h4>Learn more about us</h4></li>
                                <li><a>In the press</a></li>
                                <li><a>Careers</a></li>
                            {% endblock %}
                            
                        </ul>
                    </div>
                    <div id="mid-footer" class="span3">
                        <ul class="unstyled">
                            {% block footer2 %}
                                <li><h4>Make money with us</h4></li>
                                <li><a>App Music Contests</a></li>                       
                                <li><a>Audio FX Contests</a></li>
                                <li><a>Voiceover Contests</a></li>                        
                                <li><a>Jingle Contests</a></li>                        
                            {% endblock %}
                            
                        </ul>                    
                    </div>
                    <div class="span3">
                        <ul class="unstyled">
                            {% block footer3 %}
                                <li><h4>Let us help you</h4></li>                        
                                <li><a>Contact Us</a></li>
                                <li><a>FAQ</a></li>                        
                                <li><a>Help</a></li>
                            {% endblock %}
                        </ul>               
                    </div>
                </div>
            </div>
                <div>
                    <p style="text-align: center">
                        &copy; GrooveCrowd 2012 |
                        <a>Privacy Policy</a> |
                        <a>Terms & Agreement</a>
                    </p>                    
                </div>            

        {% endblock %}                
    </footer>
    {% block javascripts %}
        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('http://code.jquery.com/jquery.min.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-transition.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-alert.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-modal.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-dropdown.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-scrollspy.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tab.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-tooltip.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-popover.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-button.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-collapse.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-carousel.js') }}"></script>
        <script src="{{ asset('https://raw.github.com/twitter/bootstrap/master/js/bootstrap-typeahead.js') }}"></script>    
    {% endblock %}

</body>
</html>