{% extends 'GCDashboardBundle::layout.html.twig' %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/underscore.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/json2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/backbone-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/gc_consumer_dashboard.js') }}" type="text/javascript"></script>
    
 	<script type="text/x-handlebars-template" id="project-template">
 	{% raw %}
 		<li>
	 		<h1><a href="#">{{title}}</a></h1>
	 		<img src="{{asset}}" />
	 		<p>{{description}}</p>
 		</li>
 	{% endraw %}
 	</script>
{% endblock %}

{% block body %}
	<div class="subnav">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#">Current Contests</a></li>
	      <li class=""><a href="#">Recent Activity</a></li>
	      <li class=""><a href="#">Past Contests</a></li>
	      <li class=""><a href="#">Payment History</a></li>
	    </ul>
	</div>
	<div id="groove-list" class="span12">
		<h1>Grooves in the making</h1>
    </div>
{% endblock %}