{% extends 'GCDashboardBundle::layout.html.twig' %}


{% block body %}
	<div class="subnav">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#">Current Contests</a></li>
	      <li class=""><a href="#">Recent Activity</a></li>
	      <li class=""><a href="#">Past Contests</a></li>
	      <li class=""><a href="#">Payment History</a></li>
	    </ul>
	</div>
	<div class="span12">
		<h1>Grooves in the making</h1>
		<table class="table table-striped">
			<thead>
			  <tr>
			    <th>Project Title</th>
			    <th>Payout</th>
			    <th>Remaining</th>
			    <th>Grooves</th>
			  </tr>
			</thead>
			<tbody>
				{% for p in projects %}
					<tr>
						<td><a href="{{ path('project_show', {'id': p.id})}}">{{ p.title }}</a></td>
						<td>${{ p.payoutAmount }}</td>
						<td>{{ p.remaining}} days</td>
						<td>{{ p.grooveCount }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}