{% extends 'GCDashboardBundle::layout.html.twig' %}

{% block body %}
	{% block breadcrumbs %}
		<div class="breadcrumbs row">
			<div class="span1">
				<img src="{{asset('img/music_note1.png')}}" alt="" />
			</div>
			<div class="span3" style="padding-top: 25px">
				<h3>Describe your groove</h3>
			</div>
			<div class="span1">
				{% if (phase < 3)  %} 
				{% set ext = 'off' %}
				{% set color = '#e4e4e4' %}
				{% else %}
				{% set ext = 'on' %}
				{% set color = 'inherit' %}				
				{% endif %}
				<img src="{{asset('img/music_note2_' ~ ext ~ '.png')}}" alt="" />
			</div>
			<div class="span3" style="padding-top: 25px">
				<h3 style='color: {{color}};'>Contest Details</h3>
			</div>			
			<div class="span1">
				{% if (phase < 4)  %} 
				{% set ext = 'off' %}
				{% set color = '#e4e4e4' %}
				{% else %}
				{% set ext = 'on' %}
				{% set color = 'inherit' %}				
				{% endif %}
				<img src="{{asset('img/music_note3_' ~ ext ~ '.png')}}" alt="" />
			</div>
			<div class="span3" style="padding-top: 25px">
				<h3 style='color: {{color}};'>Launch your Contest</h3>
			</div>					
		</div>
	{% endblock %}

	<div class="row form-header">
		<div class="span12">
			{% block formheader %}
				<h1>Form header placeholder</h1>
			{% endblock %}
		</div>
	</div>

	{% block formbody %}
		<button type="submit" class="btn btn-primary">Save & Continue</button>
		<button id="backbutton" class="btn btn-primary">Back</button>
	{% endblock %}

	{% block minorbreadcrumbs %}
		<div class="minorbreadcrumbs row center">
			<div class="offset4 span4 center">
				<img src="{{ asset ('img/dot-filled.png') }}" width=30 />
				{% if (phase > 1)  %} 
				{% set ext = 'filled' %}
				{% else %}
				{% set ext = 'empty' %}
				{% endif %}				
				<img src="{{ asset ('img/dot-' ~ ext ~ '.png') }}" width=30 />
				{% if (phase > 2)  %} 
				{% set ext = 'filled' %}
				{% else %}
				{% set ext = 'empty' %}
				{% endif %}					
				<img src="{{ asset ('img/dot-' ~ ext ~ '.png') }}" width=30 />
			</div>
		</div>
	{% endblock %}

	{% block backbutton %}
		<form action="{{ path('project_new') }}" method="GET">
			<div class="row center">
				<div class="span12">
					<button type="submit" class="btn btn-primary">Back</button>
					<input type="hidden" name="back" value="1" />
				</div>
			</div>			
		</form>
	{% endblock %}

{% endblock %}
