{% extends 'GCDashboardBundle::consumer_dashboard.html.twig' %}

{% block javascripts %}
	{{ parent() }}

  <script id="arrow-template" type="text/x-handlebars-template">
  {% raw %}
    <div id='{{id}}' class='contestLengthWidgetArrow'>
        <h5 style='width: 60px; position:relative; left:-{{ offset }}px;'>{{ label }}</h5>
        <img src='/img/arrow-blue-outline-down-23x30.png'></img>
    </div>
  {% endraw %}
  </script>
  
	{% javascripts
      '@GCDashboardBundle/Resources/public/js/contestlengthwidget.js'  
    	'@GCDashboardBundle/Resources/public/js/Assets/*' 
    	'@GCDashboardBundle/Resources/public/js/ConsumerIndex/app/*' 
    	'@GCDashboardBundle/Resources/public/js/ConsumerIndex/setup.js'
    	output="bundle.js"
    %}
    	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

{% endblock %}

{% block subnav %}
    <ul class="nav nav-tabs">		    
      <li class="active"><a href="#">Current Contests</a></li>
      <li class=""><a href="#">Recent Activity</a></li>
      <li class=""><a href="#">Past Contests</a></li>
      <li class=""><a href="#">Payment History</a></li>
    </ul>
{% endblock %}

  {% block project_header %}
    <div class="projectContainer">
      {% for project in projects %}
        {% include 'GCDashboardBundle:Project:collapsed_project.html.twig' %}
      {% endfor %}
    </div>  
  {% endblock %}

{% block project_content %}{% endblock %}