{% extends 'GCDashboardBundle::breadcrumb_form.html.twig' %}

{% block formheader %}
	<h1>Select a groove type</h1>
{% endblock %}

{% block formbody %}
		<div class="row">
			<div class="span4">
				<form action="{{ path('project_new') }}" method="POST">				
					<div class="row">
						<div class="span3"><h1>Voice Over</h1></div>					
						<div class="span1"><img src="{{asset('img/music.png')}}"></img></div>
					</div>
					<div class="row">
						<div class="span4">
							<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>						
						</div>
					</div>
					<button type="submit" class="btn btn-large btn-primary">Select</button>
					<input type="hidden" name="projectType" value="music" />				
				</form>		
			</div>

			<div class="span4">
				<form action="{{ path('project_new') }}" method="POST">				
					<div class="row">
						<div class="span3"><h1>Audio FX</h1></div>					
						<div class="span1"><img src="{{asset('img/voiceover.png')}}"></img></div>
					</div>
					<div class="row">
						<div class="span4">
							<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>						
						</div>
					</div>
					<button type="submit" class="btn btn-large btn-primary">Select</button>
					<input type="hidden" name="projectType" value="voice-over" />								
				</form>				
			</div>

			<div class="span4">
				<form action="{{ path('project_new') }}" method="POST">				
					<div class="row">
						<div class="span3"><h1>Audio FX</h1></div>					
						<div class="span1"><img src="{{asset('img/fx.png')}}"></img></div>
					</div>
					<div class="row">
						<div class="span4">
							<p>Lorem hizzle gangster crackalackin amizzle, consectetizzle adipiscing elit. Nullam fo shizzle velizzle, aliquet volutpizzle, suscipizzle quis, own yo' vizzle, dawg. Pellentesque away tortizzle. Sed erizzle. Fusce crazy dolor dapibus turpis tempizzle tempor. Mauris rizzle nibh nunc. Break yo neck, yall suscipizzle. Shit semper velit dang crackalackin.</p>						
						</div>
					</div>
					<button type="submit" class="btn btn-large btn-primary">Select</button>
					<input type="hidden" name="projectType" value="audio-fx" />								
				</form>				
			</div>


	{% block backbutton %}
	{% endblock %}

{% endblock %}