{% extends 'GCDashboardBundle::breadcrumb_form.html.twig' %}
{% form_theme form 'GCDataLayerBundle:Form:fields.html.twig' %}

{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/gc_payment.js?6') }}" type="text/javascript"></script>
{% endblock %}

{% block formheader %}
{% endblock %}

{% block formbody %}
	<form class="form-horizontal" id='project-{{ id }}'action="{{ path('project_new') }}" method="POST" {{ form_enctype(form) }} >		
		{{ form_errors(form) }}
		<fieldset>
			<h1>User Info</h1>
			<div class="control-group gc-control-label">
				{{ form_label(form.email) }}
				<div class="controls">
					{{ form_widget(form.email, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.email) }}</p>	
				</div>			    			    
			</div>		
			<div class="control-group gc-control-label">
				{{ form_label(form.plain_password) }}
				<div class="controls">
					{{ form_widget(form.plain_password, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.plain_password) }}</p>	
				</div>			    			    
			</div>
			<button class="btn" id="login" onclick="return false;">Log In</button>
			<input type="hidden" id="_csrf_token" value="{{ csrf }}" />
		</fieldset>				
		<fieldset>
			<h1>Payment Method</h1>
			<ul class="horizontal-list unstyled">
				<li><img src="{{asset('img/google-checkout-curved-32px.png')}}"></li>
				<li><img src="{{asset('img/paypal-curved-32px.png')}}"></li>
				<li><img src="{{asset('img/mastercard-curved-32px.png')}}"></li>
				<li><img src="{{asset('img/discover-curved-32px.png')}}"></li>
			</ul>
		</fieldset>		
		<fieldset>
			<legend><h1>Billing Info</h1></legend>
			<div class="control-group gc-control-label">
				{{ form_label(form.first_name) }}
				<div class="controls">
					{{ form_widget(form.first_name, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.first_name) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.last_name) }}
				<div class="controls">
					{{ form_widget(form.last_name, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.last_name) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.address1) }}
				<div class="controls">
					{{ form_widget(form.address1, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.address1) }}</p>	
				</div>			    			    
			</div>									
			<div class="control-group gc-control-label">
				{{ form_label(form.address2) }}
				<div class="controls">
					{{ form_widget(form.address2, {'attr': {'class': 'input-xlarge tag-widget span3'}}) }}
					<p class="help-block">{{ form_errors(form.address2) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.city) }}
				<div class="controls">
					{{ form_widget(form.city, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.city) }}</p>	
				</div>			    			    
			</div>		
			<div class="control-group gc-control-label">
				{{ form_label(form.state) }}
				<div class="controls">
					{{ form_widget(form.state, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.state) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.zip) }}
				<div class="controls">
					{{ form_widget(form.zip, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.zip) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.phone) }}
				<div class="controls">
					{{ form_widget(form.phone, {'attr': {'class': 'input-xlarge span3'}}) }}
					<p class="help-block">{{ form_errors(form.phone) }}</p>	
				</div>			    			    
			</div>	
		</fieldset>
		{{ parent() }}		
		{{ form_rest(form) }}
	</form>
{% endblock %}

	{% block minorbreadcrumbs %}{% endblock %}
