{% extends 'GCDashboardBundle::breadcrumb_form.html.twig' %}
{% form_theme form 'GCDataLayerBundle:Form:fields.html.twig' %}


{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/jquery.tagsinput.js') }}" type="text/javascript"></script>
	<script src="{{ asset ('js/yoxview/yoxview-init.js') }}" type="text/javascript"></script>
	<script src="{{ asset ('js/swfupload.swfobject.js') }}" type="text/javascript"></script>
	<script src="{{ asset ('js/swfupload.cookies.js') }}" type="text/javascript"></script>	
	<script src="{{ asset ('js/swfupload.queue.js') }}" type="text/javascript"></script>	
	<script src="{{ asset ('js/swfupload.speed.js') }}" type="text/javascript"></script>	
	<script src="{{ asset ('js/swfupload.js') }}" type="text/javascript"></script>	
    <script src="{{ asset('js/gc_project_brief.js') }}" type="text/javascript"></script>	
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/css/jquery.tagsinput.css') }}" />
{% endblock %}

{% block formheader %}
{% endblock %}

{% block formbody %}
	<form class="form-horizontal" id='project-{{ id }}'action="{{ path('project_brief') }}" method="POST" {{ form_enctype(form) }} >
		{{ form_errors(form) }}
		<fieldset>
			<legend><h1>Description</h1></legend>
			<div class="control-group gc-control-label">
				{{ form_label(form.title) }}
				<div class="controls">
					{{ form_widget(form.title, {'attr': {'class': 'input-xlarge span6'}}) }}
					<p class="help-block">{{ form_errors(form.title) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.description) }}
				<div class="controls">
					{{ form_widget(form.description, {'attr': {'class': 'input-xlarge span6'}}) }}
					<p class="help-block">{{ form_errors(form.description) }}</p>	
				</div>			    			    
			</div>
			<div class="control-group gc-control-label">
				{{ form_label(form.contest_length) }}
				<div class="controls">
					{{ form_widget(form.contest_length, {'attr': {'class': 'input-xlarge'}}) }}
					<p class="help-block">{{ form_errors(form.contest_length) }}</p>	
				</div>			    			    
			</div>			
<!-- 			<div class="control-group project-length-control">
				<label for="project-length" class="control-label">Contest Length</label>
				<div class="controls">
					<div class="slider">
						<h4>hi</h4>
					</div>
					<p class="help-block"></p>	
				</div>			    			    
			</div>		 -->							
			<div class="control-group gc-control-label">
				{{ form_label(form.tag_list) }}
				<div class="controls">
					{{ form_widget(form.tag_list, {'attr': {'class': 'input-xlarge tag-widget span6', 'value': tag_list}}) }}
					<p class="help-block">{{ form_errors(form.tag_list) }}</p>	
				</div>			    			    
			</div>						
		</fieldset>
		<fieldset>
			<h1>Media</h1>
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab1" data-toggle="tab">Upload a File</a>
					</li>
					<li>
						<a href="#tab2" data-toggle="tab">From the Web</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab1">
						<div class="control-group gc-control-label">
							<div id="swf-container">
								<span id="spanButtonPlaceholder"></span>
							</div>
							<div id="divFileProgressContainer" style="height: 75px;"></div>
						</div>
					</div>
					<div class="tab-pane" id="tab2">
						<div class="control-group gc-control-label">
							{{ form_widget(form.web_upload) }}
							<button id="upload-btn" class="btn">Upload</button>
							<p class="help-block">{{ form_errors(form.web_upload) }}</p>	
						</div>
					</div>
				</div>
			</div>
			<div id="media-container">
				{% if assets|length == 0 %}
				<div class="alert alert-info">
				  <p>Have a video or image? Add some media to enhance your listing</p>
				</div>
				{% else %}
				<ul id="thumbnails" class="thumbnails yoxview">
					{% for item in assets %}
					  <li class="span2">
					    <a href="{{ asset('img/profiles/default.jpg') }}" class="thumbnail">
					      <img src="http://placehold.it/260x180" alt="">
					    </a>
					  </li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</fieldset>
		<input id="session_name" type="hidden" value="{{session.name}}" />
		<input id="session_id" type="hidden" value="{{session.id}}" />
		{{ form_rest(form) }}
		{{ parent() }}
		<a id="backbutton" class="btn btn-primary" href="{{ path('project_category_select') }}">Back</a>
	</form>
{% endblock %}


{% block minorbreadcrumbs %}{% endblock %}
